@{
    ViewData["Title"] = "Customers";
}

<div class="container">
    <div class="row">
        <h3>Add a new customer <span class="text-danger">@TempData["invalidcustomer"]</span></h3>
    </div>
    <form action="customers/addcustomer" method="POST">
            <div class="col-sm-4 col-md-3">
                <h4>Customer Name: </h4>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-4">
                <input class="form-control" type="text" name="name">
            </div>
            <div class="col-xs-3 col-sm-2 col-md-2">
                <button class="btn btn-primary" type="submit">Add</button>
            </div>
    </form>
</div>
<br>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-4 pull-right">
        <form action="/search-name">
            <input class="form-control" id="search" type="text" name="search" placeholder="search name...">
        </form>
    </div>
</div>
<div class="container">
    <table class="table table-striped" id="clist">
        <thead>
            <th class="col">Customer Name</th>
            <th class="col">Created Date</th>
            <th class="col">Actions</th>
        </thead>
        <tbody>
            @foreach(var customer in @ViewBag.Customers)
            {
                <tr>
                    <td class=>@customer.name</td>
                    <td>@customer.created_at.ToString("MMM dd yyyy")</td>
                    <td><form action="/customers/remove" method="POST">
                    <input type="hidden" name="customerid" value=@customer.CustomerId>
                        <input type="hidden">
                        <button class="btn btn-danger" type="submit">Remove</button>
                    </form></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/js/customerSearch.js"></script>